<div class="container">
  <div class="mt-3">
    <form class="rtl" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label class="form-label float-start me-2 fw-medium" for="email">ایمیل: </label>
        <input class="form-control" id="email" type="email" formControlName="email"
               [ngClass]="{'is-invalid': submittedForm && f['email'].invalid, 'is-valid': submittedForm && f['email'].valid}">
        <div class="invalid-feedback" *ngIf="submittedForm && f['email'].errors">
          <div *ngIf="f['email'].errors?.['required']">
            وارد کردن ایمیل الزامی است.
          </div>
          <div *ngIf="f['email'].errors?.['invalidEmail'] && f['email'].value !== null && f['email'].value.length > 0">
            ایمیل را به شکل صحیح وارد کنید.
          </div>
        </div>
      </div>
      <div class="mt-3">
        <label class="form-label float-start me-2 fw-medium" for="password">رمز عبور: </label>
        <input class="form-control" id="password" type="password" formControlName="password"
               [ngClass]="{'is-invalid': submittedForm && f['password'].invalid, 'is-valid': submittedForm && f['password'].valid}">
        <div class="invalid-feedback" *ngIf="submittedForm && f['password'].errors">
          <div *ngIf="f['password'].errors?.['required']">
            وارد کردن رمز عبور الزامی است.
          </div>
          <div *ngIf="f['password'].errors?.['invalidPassword'] && f['password'].value !== null && f['password'].value.length > 0">
            رمز عبور باید حداقل 8 کاراکتر و شامل عدد و حروف باشد.
          </div>
        </div>
      </div>

      <button class="btn btn-primary mt-5" type="submit">ثبتنام</button>
    </form>
  </div>
</div>
